<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">

            <div class="ibox-content">

                <h2>
                    Summernote
                </h2>
                <p>
                    Summernote是一个简单的基于Bootstrap的WYSIWYG富文本编辑器
                </p>

                <div class="alert alert-warning">
                    官方文档请参考：
                    <a href="http://hackerwins.github.io/summernote/features.html#api">http://hackerwins.github.io/summernote/features.html#api</a>
                    <!--<div class="summernote">summernote 2</div>-->

                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>编辑/保存为html代码示例</h5>
                <button id="edit" class="btn btn-primary btn-xs m-l-sm" ng-click="edit()" type="button">编辑</button>
                <button id="save" class="btn btn-primary  btn-xs" ng-click="save()" type="button">保存</button>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="dropdown-toggle" data-toggle="dropdown" href="form_editors.html#">
                        <i class="fa fa-wrench"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="">选项1</a>
                        </li>
                        <li><a href="">选项2</a>
                        </li>
                    </ul>
                    <a class="close-link">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content" id="eg">
                <div id="summernote">
                    <h2>hAdmin后台主题</h2>
                    <p>hAdmin是一个完全响应式，基于Bootstrap3.3.6最新版本开发的扁平化主题，她采用了主流的左右两栏式布局，使用了Html5+CSS3等现代技术，她提供了诸多的强大的可以重新组合的UI组件，并集成了最新的jQuery版本(v2.1.1)，当然，也集成了很多功能强大，用途广泛的就jQuery插件，她可以用于所有的Web应用程序，如<b>网站管理后台</b>，<b>网站会员中心</b>，<b>CMS</b>，<b>CRM</b>，<b>OA</b>等等，当然，您也可以对她进行深度定制，以做出更强系统。</p>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>edits value</h5>
            </div>
            <div class="ibox-content">
                <p>{{editValue}}</p>
            </div>
        </div>


    </div>
</div>