<!--左侧导航开始-->
<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="nav-close"><i class="fa fa-times-circle"></i>
    </div>
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="clear">
                            <span class="block m-t-xs" style="font-size:20px;">
                                <i class="fa fa-area-chart"></i>
                                <strong class="font-bold">hAdmin</strong>
                            </span>
                        </span>
                    </a>
                </div>
                <div class="logo-element">hAdmin</div>
            </li>
            <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
                <span class="ng-scope">分类</span>
            </li>
            <li>
                <a class="J_menuItem" ui-sref="pages.dashboard">
                    <i class="fa fa-home"></i>
                    <span class="nav-label">主页</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa fa-bar-chart-o"></i>
                    <span class="nav-label">统计图表</span>
                    <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level">
                    <li>
                        <a class="J_menuItem" ui-sref="pages.charts.echarts">百度ECharts</a>
                    </li>
                    <li>
                        <a class="J_menuItem" ui-sref="pages.charts.flot">Flot</a>
                    </li>
                    <li>
                        <a class="J_menuItem" ui-sref="pages.charts.morris">Morris.js</a>
                    </li>
                    <li>
                        <a class="J_menuItem" ui-sref="pages.charts.rickshaw">Rickshaw</a>
                    </li>
                    <li>
                        <a class="J_menuItem" ui-sref="pages.charts.peity">Peity</a>
                    </li>
                    <li>
                        <a class="J_menuItem" ui-sref="pages.charts.sparkline">Sparkline</a>
                    </li>
                    <li>
                        <a class="J_menuItem" ui-sref="pages.charts.metrics">图表组合</a>
                    </li>
                </ul>
            </li>
            <li class="line dk"></li>
            <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
                <span class="ng-scope">分类</span>
            </li>
            <li>
                <a href="mailbox.html"><i class="fa fa-envelope"></i> <span class="nav-label">信箱 </span><span class="label label-warning pull-right">16</span></a>
                <ul class="nav nav-second-level">
                    <li><a class="J_menuItem" ui-sref="pages.mailbox.inbox">收件箱</a>
                    </li>
                    <li><a class="J_menuItem" ui-sref="pages.mailbox.mailDetail">查看邮件</a>
                    </li>
                    <li><a class="J_menuItem" ui-sref="pages.mailbox.writeLetter">写信</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#"><i class="fa fa-edit"></i> <span class="nav-label">表单</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li><a class="J_menuItem" ui-sref="pages.forms.basic">基本表单</a></li>
                    <li><a class="J_menuItem" ui-sref="pages.forms.formValidation">表单验证</a></li>
                    <li><a class="J_menuItem" ui-sref="pages.forms.plugins">高级插件</a></li>
                    <li><a class="J_menuItem" ui-sref="pages.forms.mailDetail">表单向导</a></li>
                    <li>
                        <a href="#">文件上传 <span class="fa arrow"></span></a>
                        <ul class="nav nav-third-level">
                            <li><a class="J_menuItem" ui-sref="pages.forms.mailDetail">百度WebUploader</a></li>
                            <li><a class="J_menuItem" ui-sref="pages.forms.mailDetail">DropzoneJS</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">编辑器 <span class="fa arrow"></span></a>
                        <ul class="nav nav-third-level">
                            <li><a class="J_menuItem" ui-sref="pages.forms.editors.richTextEditor">富文本编辑器</a></li>
                            <li><a class="J_menuItem" ui-sref="pages.forms.editors.simditor">simditor</a></li>
                            <li><a class="J_menuItem" ui-sref="pages.forms.editors.markDownEditor">MarkDown编辑器</a></li>
                            <li><a class="J_menuItem" ui-sref="pages.forms.editors.codeEditor">代码编辑器</a></li>
                        </ul>
                    </li>
                    <li><a class="J_menuItem" ui-sref="pages.forms.mailDetail">日期选择器layerDate</a></li>
                </ul>
            </li>
            <li>
                <a href="#"><i class="fa fa-desktop"></i> <span class="nav-label">页面</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li><a class="J_menuItem" ui-sref="pages.pages.contacts">联系人</a></li>
                    <li><a class="J_menuItem" ui-sref="pages.pages.profile">个人资料</a></li>
                    <li>
                        <a href="#">项目管理 <span class="fa arrow"></span></a>
                        <ul class="nav nav-third-level">
                            <li><a class="J_menuItem" ui-sref="pages.pages.projects">项目</a></li>
                            <li><a class="J_menuItem" ui-sref="pages.pages.projectDetail">项目详情</a></li>
                        </ul>
                    </li>
                    <li><a class="J_menuItem" ui-sref="pages.pages.teams">团队管理</a></li>
                    <li><a class="J_menuItem" ui-sref="pages.pages.social">信息流</a></li>
                    <li><a class="J_menuItem" ui-sref="pages.pages.clients">客户管理</a></li>
                    <li><a class="J_menuItem" ui-sref="pages.pages.file">文件管理器</a></li>
                    <li><a class="J_menuItem" ui-sref="pages.pages.profile">日历</a></li>
                    <li>
                        <a href="#">博客 <span class="fa arrow"></span></a>
                        <ul class="nav nav-third-level">
                            <li><a class="J_menuItem" ui-sref="pages.pages.blogList">文章列表</a></li>
                            <li><a class="J_menuItem" ui-sref="pages.pages.article">文章详情</a></li>
                        </ul>
                    </li>
                    <li><a class="J_menuItem" ui-sref="pages.pages.faq">FAQ</a></li>
                    <li>
                        <a href="#">时间轴 <span class="fa arrow"></span></a>
                        <ul class="nav nav-third-level">
                            <li><a class="J_menuItem" ui-sref="pages.pages.timeline1">时间轴</a></li>
                            <li><a class="J_menuItem" ui-sref="pages.pages.timeline2">时间轴v2</a></li>
                        </ul>
                    </li>
                    <li><a class="J_menuItem" ui-sref="pages.pages.pinBoard">标签墙</a></li>
                    <li>
                        <a href="#">单据 <span class="fa arrow"></span></a>
                        <ul class="nav nav-third-level">
                            <li><a class="J_menuItem" ui-sref="pages.pages.empty">单据</a></li>
                            <li><a class="J_menuItem" ui-sref="pages.pages.empty">单据打印</a></li>
                        </ul>
                    </li>
                    <li><a class="J_menuItem" ui-sref="pages.pages.search">搜索结果</a></li>
                    <li><a class="J_menuItem" ui-sref="pages.pages.forum">论坛</a></li>
                    <li>
                        <a href="#">即时通讯 <span class="fa arrow"></span></a>
                        <ul class="nav nav-third-level">
                            <li><a class="J_menuItem" ui-sref="pages.pages.chatView">聊天窗口</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">登录注册相关 <span class="fa arrow"></span></a>
                        <ul class="nav nav-third-level">
                            <li><a class="J_menuItem" ui-sref="pages.pages.login1">登录页面</a></li>
                            <li><a class="J_menuItem" ui-sref="pages.pages.login2">登录页面v2</a></li>
                            <li><a class="J_menuItem" ui-sref="pages.pages.register">注册页面</a></li>
                            <li><a class="J_menuItem" ui-sref="pages.pages.loginTimeout">登录超时</a></li>
                        </ul>
                    </li>
                    <li><a class="J_menuItem" ui-sref="pages.pages.404">404页面</a></li>
                    <li><a class="J_menuItem" ui-sref="pages.pages.500">500页面</a></li>
                    <li><a class="J_menuItem" ui-sref="pages.pages.empty">空白页</a></li>
                </ul>
            </li>
            <li class="line dk"></li>
            <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
                <span class="ng-scope">分类</span>
            </li>
            <li>
                <a href="#"><i class="fa fa-flask"></i> <span class="nav-label">UI元素</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li><a class="J_menuItem" ui-sref="pages.ui.typography">排版</a></li>
                    <li>
                        <a href="#">字体图标 <span class="fa arrow"></span></a>
                        <ul class="nav nav-third-level">
                            <li><a class="J_menuItem" ui-sref="pages.ui.fontawesome">Font Awesome</a></li>
                            <li><a class="J_menuItem" ui-sref="pages.ui.glyphicons">Glyphicon</a></li>
                            <li><a class="J_menuItem" ui-sref="pages.ui.iconfont">阿里巴巴矢量图标库</a></li>
                        </ul>
                    </li>
                    <!--<li>-->
                    <!--<a href="#">拖动排序 <span class="fa arrow"></span></a>-->
                    <!--<ul class="nav nav-third-level">-->
                    <!--<li><a class="J_menuItem" href="draggable_panels.html">拖动面板</a></li>-->
                    <!--<li><a class="J_menuItem" href="agile_board.html">任务清单</a></li>-->
                    <!--</ul>-->
                    <!--</li>-->
                    <li><a class="J_menuItem" ui-sref="pages.ui.buttons">按钮</a></li>
                    <li><a class="J_menuItem" ui-sref="pages.ui.tabs_panels">选项卡 &amp; 面板</a></li>
                    <li><a class="J_menuItem" ui-sref="pages.ui.notifications">通知 &amp; 提示</a></li>
                    <li><a class="J_menuItem" ui-sref="pages.ui.badges_labels">徽章，标签，进度条</a></li>
                    <li><a class="J_menuItem" ui-sref="pages.ui.grid_options">栅格</a></li>
                    <li><a class="J_menuItem" ui-sref="pages.ui.plyr">视频、音频</a></li>
                    <li>
                        <a href="#">弹框插件 <span class="fa arrow"></span></a>
                        <ul class="nav nav-third-level">
                            <li><a class="J_menuItem" ui-sref="pages.ui.layer">Web弹层组件layer</a></li>
                            <!--<li><a class="J_menuItem" ui-sref="pages.ui.modal_window">模态窗口</a></li>-->
                            <!--<li><a class="J_menuItem" ui-sref="pages.ui.sweetalert">SweetAlert</a></li>-->
                            <li><a class="J_menuItem" ui-sref="pages.ui.modal">modal</a></li>
                        </ul>
                    </li>
                    <!--<li>-->
                        <!--<a href="#">树形视图 <span class="fa arrow"></span></a>-->
                        <!--<ul class="nav nav-third-level">-->
                            <!--<li><a class="J_menuItem" ui-sref="pages.ui.jstree">jsTree</a></li>-->
                            <!--<li><a class="J_menuItem" ui-sref="pages.ui.tree_view">Bootstrap Tree View</a></li>-->
                            <!--&lt;!&ndash;<li><a class="J_menuItem" href="nestable_list.html">nestable</a></li>&ndash;&gt;-->
                        <!--</ul>-->
                    <!--</li>-->
                    <li><a class="J_menuItem" ui-sref="pages.ui.toastr">Toastr通知</a></li>
                    <li><a class="J_menuItem" ui-sref="pages.ui.diff">文本对比</a></li>
                    <li><a class="J_menuItem" ui-sref="pages.ui.spinners">加载动画</a></li>
                    <li><a class="J_menuItem" ui-sref="pages.ui.widgets">小部件</a></li>
                </ul>
            </li>
            <li>
                <a href="#"><i class="fa fa-table"></i> <span class="nav-label">表格</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li><a class="J_menuItem" ui-sref="pages.table.basic_table">基本表格</a></li>
                    <li><a class="J_menuItem" ui-sref="pages.table.dataTable">DataTables</a></li>
                    <li><a class="J_menuItem" ui-sref="pages.table.jqGrid">jqGrid</a></li>
                    <!--<li><a class="J_menuItem" href="table_foo_table.html">Foo Tables</a></li>-->
                    <li><a class="J_menuItem" ui-sref="pages.table.bootstrap_table">Bootstrap Table<span class="label label-danger pull-right">推荐</span></a></li>
                </ul>
            </li>
            <li class="line dk"></li>
            <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
                <span class="ng-scope">分类</span>
            </li>
            <li>
                <a href="#"><i class="fa fa-picture-o"></i> <span class="nav-label">相册</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li><a class="J_menuItem" ui-sref="pages.album.basic_gallery">基本图库</a>
                    </li>
                    <li><a class="J_menuItem" ui-sref="pages.album.carousel">图片切换</a>
                    </li>
                    <li><a class="J_menuItem" ui-sref="pages.album.blueimp">Blueimp相册</a>
                    </li>
                </ul>
            </li>
            <li>
                <a class="J_menuItem" ui-sref="pages.album.css3Animation"><i class="fa fa-magic"></i> <span class="nav-label">CSS动画</span></a>
            </li>
            <!--<li>-->
                <!--<a href="#"><i class="fa fa-cutlery"></i> <span class="nav-label">工具 </span><span class="fa arrow"></span></a>-->
                <!--<ul class="nav nav-second-level">-->
                    <!--<li><a class="J_menuItem" href="form_builder.html">表单构建器</a>-->
                    <!--</li>-->
                <!--</ul>-->
            <!--</li>-->

        </ul>
    </div>
</nav>
<!--左侧导航结束-->